
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-venue:before { content: "\e600"; }
.icon-calculator:before { content: "\e601"; }
.icon-cashdesk:before { content: "\e602"; }
.icon-document:before { content: "\e603"; }
.icon-register:before { content: "\e604"; }
.icon-system:before { content: "\e605"; }
.icon-ticket:before { content: "\e606"; }
.icon-arrowdown:before { content: "\e607"; }
.icon-arrowleft:before { content: "\e608"; }
.icon-arrowright:before { content: "\e609"; }
.icon-arrowup:before { content: "\e60a"; }
.icon-check:before { content: "\e60b"; }
.icon-statistics:before { content: "\e60c"; }
.icon-huiyuanguanli:before { content: "\e60d"; }
.icon-dingdan:before { content: "\e60e"; }
.icon-daoru:before { content: "\e60f"; }
.icon-zengjiachuangjian:before { content: "\e610"; }
.icon-sanjiaoxing:before { content: "\e611"; }
.icon-sanjiaoxing-copy:before { content: "\e612"; }
.icon-sanjiaoxing-copy-copy:before { content: "\e613"; }
.icon-sanjiaoxing-copy-copy-copy:before { content: "\e614"; }
.icon-homepage:before { content: "\e615"; }
.icon-xiaoxishi:before { content: "\e616"; }
.icon-xiaoxikong:before { content: "\e617"; }
.icon-tuichuxitong:before { content: "\e618"; }
.icon-chakanliulan:before { content: "\e619"; }
.icon-shanchu:before { content: "\e61a"; }
.icon-shuaxin:before { content: "\e61b"; }
.icon-leixingtonglei:before { content: "\e61c"; }
.icon-quyudingwei:before { content: "\e61d"; }
.icon-quyudingwei1:before { content: "\e61e"; }
.icon-quanxuan:before { content: "\e61f"; }
.icon-fanxuan:before { content: "\e620"; }
.icon-fuzhi:before { content: "\e621"; }
.icon-zhantie:before { content: "\e622"; }
.icon-qianjin:before { content: "\e623"; }
.icon-houtui:before { content: "\e624"; }
.icon-shezhi:before { content: "\e625"; }
.icon-shezhikong:before { content: "\e626"; }
.icon-gerenzhongxin:before { content: "\e627"; }
.icon-piliangshengcheng:before { content: "\e628"; }
.icon-jinggao:before { content: "\e629"; }
.icon-tishixinxi:before { content: "\e62a"; }
.icon-shizhong:before { content: "\e62b"; }
.icon-qicaizulin:before { content: "\e62c"; }
.icon-tingche:before { content: "\e62d"; }
.icon-wifi:before { content: "\e62e"; }
.icon-jicunfuwu:before { content: "\e62f"; }
.icon-peixunkecheng:before { content: "\e630"; }
.icon-shuaqiafuwu:before { content: "\e631"; }
.icon-linyufuwu:before { content: "\e632"; }
.icon-canyinfuwu:before { content: "\e633"; }
.icon-yejianfuwu:before { content: "\e634"; }
.icon-gongnenganniu:before { content: "\e635"; }
.icon-jiaoseshezhi:before { content: "\e636"; }
.icon-rizhi:before { content: "\e637"; }
.icon-shubiaocaozuoyuan:before { content: "\e638"; }
.icon-shujuzidian:before { content: "\e639"; }
.icon-xitongcaidan:before { content: "\e63a"; }
.icon-quxiao:before { content: "\e63b"; }
.icon-sousuo:before { content: "\e63c"; }
.icon-xiaolian:before { content: "\e63d"; }
.icon-baocun:before { content: "\e63e"; }
.icon-dayin:before { content: "\e63f"; }
.icon-huodong:before { content: "\e640"; }
.icon-peixun:before { content: "\e641"; }
.icon-huodong1:before { content: "\e642"; }
.icon-jianshao:before { content: "\e643"; }
.icon-yundongjianshen:before { content: "\e649"; }
.icon-yundonglanqiu:before { content: "\e64a"; }
.icon-yundonglunhua:before { content: "\e64b"; }
.icon-yundongpingpangqiu:before { content: "\e64c"; }
.icon-yundongqipai:before { content: "\e64d"; }
.icon-yundongwangqiu:before { content: "\e64e"; }
.icon-yundongwushu:before { content: "\e64f"; }
.icon-yundongyouyong:before { content: "\e650"; }
.icon-yundongyuqie1:before { content: "\e651"; }
.icon-yundongyumaoqiu:before { content: "\e652"; }
.icon-yundongzuqiu1:before { content: "\e653"; }
.icon-shangyige:before { content: "\e644"; }
.icon-xiayige:before { content: "\e645"; }
.icon-zuishangmian:before { content: "\e646"; }
.icon-zuixiamian:before { content: "\e647"; }
.icon-gouwuche:before { content: "\e648"; }
.icon-quyudingwei2:before { content: "\e654"; }
.icon-shangchuan:before { content: "\e655"; }
