.container {
	padding: 0;
	border: solid 1px #999;
}

.scroll-box {
	width: 80%;
	height: 900px;
	overflow-x: hidden;
	position: relative;
	border: solid 1px #eee;
}

.scroll-content {
	min-width: 100%;
	width: 1000px;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	border: solid 1px #999;
}